<nav>
    <div class="nav-wrapper orange">
        <a href="#" class="brand-logo center">Ember.js</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>{{#link-to "featured"}}Featured{{/link-to}}</li>
            <li>{{#link-to "videos"}}Videos{{/link-to}}</li>
            <li>{{#link-to "about"}}About{{/link-to}}</li>   
        </ul>    
    </div>
</nav>