<div class='container'>
    <div class='row'>
        <div class='col s12'>
            <h1>Ember.js videos</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col s12'>
            {{video-card}}
        </div>
    </div>
</div>